.estilosCard{
    display: flex;
    align-items: center;
    margin: 5rem; 
    margin-top:15rem ;
}

.colorBoton{
    color: white;
    background-color:  #c6a992;
}

.colorBoton:hover{
    background-color:  #b48157;
    color: white;
}

.menu {
    background-color: #c6a992; }

h1{
    font-family: 'IM Fell DW Pica', serif;
  color: #604d3c;
  font-size: 3.6rem;
  text-align: center;
  margin: 3rem auto; }

